.about-pane-container {
    min-height: 0;
}

.about-pane {
    flex: 1;
    overflow-y: auto;
    max-height: 50vh;

    font-size: .85em;

    > div {
        padding: 0 0 .1em 1em;
        margin: 2em 2em 2em 1em;
        border-left: 3px solid #5aaeec;
    }

    h1 {
        margin-top: 0;
    }
}
