// External fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';
@import 'about-pane.scss';
@import 'branding.scss';
@import 'expand-button.scss';
@import 'map.scss';
@import 'sidebar.scss';
@import 'results.scss';
@import 'filter-pane.scss';
@import 'search-box.scss';
@import 'location-cell.scss';
@import 'spinner.scss';
@import 'segmented-options.scss';
@import 'sam-herbert-loader.scss';

body {
    margin: 0; padding: 0;
    color: rgba(0,0,0, .75);
    font-family: "Open Sans", sans-serif;

    background-color: $body-bg;
}

fieldset {
    border: 0;
    margin: 1em 0; padding: 0;
}

legend {
    padding: 0;
}
