.squared-labs-stamp {
    position: absolute;

    bottom: 0; left: 0; right: 0;
    background-color: rgba(255,255,255, .5);
    padding: .8em .5em .3em;
    width: 8em;
    margin: auto;

    img {
        width: 100%;
    }

    @media (max-width: 670px) {
        width: 5em;
    }
}

.uconn-logo {
    display: block;
    max-width: 7em;

    position: absolute;
    bottom: 0; right: 0;

    padding: 1em 1.5em;

    img {
        width: 100%;
    }

    @media (max-width: 670px) {
        width: 4em;
        padding: .75em;
    }
}

.mapboxgl-ctrl-attrib {
    background: none !important;
}
