$transition-duration: .2s;
$transition-duration-selected: 50ms; // speed up transition after an action

.location-cell {
    animation: fadein 0.1s;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;

    line-height: 1.2;
    cursor: pointer;
    transition-duration: $transition-duration;

    & + .location-cell {
        border-top: 1px solid rgba(0,0,0, .05);
    }

    &:hover {
        border-color: transparent;
        background-color: rgba(0,0,0, .05);
    }

    &.selected {
        background-color: rgba(54, 97, 193, 0.95);
        color: rgba(255,255,255, .95);
        cursor: auto;

        transition-duration: $transition-duration-selected;

        .location-cell-total,
        .location-cell-zipcode {
            color: rgba(255,255,255, .8);
            transition-duration: $transition-duration-selected;
        }
    }

    .location-cell-loader {
        margin: 0; padding: 0;
        align-self: center;
        height: 1.5em;
    }
}

.location-cell-zipcode,
.location-cell-total {
    transition-duration: $transition-duration;
    color: rgba(0,0,0, .5);
}

.location-cell-zipcode {
    font-size: .75em;
}
