.results {
    background-color: rgba(0,0,0, .05);

    ul {
        list-style-type: none;
        margin: 0; padding: 0;
    }
}

.results-error {
    margin: auto;
    padding: 1em;
    font-size: .85em;
}
